<section class="about-us">

  <header class="about-us__about-header about-header">
    <span class="about-header__lable">Наша миссия</span>
    <h2 class="about-header__title">
      <span class="about-header__title_dark">Мы обучаем продюсеров онлайн-школ, </span>
      <span class="about-header__title_light">развиваем сообщество предпринимателей и двигаемся к одной большой цели</span>
    </h2>
  </header>

  <p class="about-us__description">
    <span class="about-us__description_lead">
      Ниша онлайн-образования приходит на смену традиционным методам.
    </span>
    Мы хотим сделать дистанционное обучение качественным и комфортным, раскрыть потенциал каждого, кто готов развивать эту нишу и следовать нашей миссии.
  </p>

  <p class="about-us__description">
    <span class="about-us__description_lead">
      Наша миссия
    </span>
     - создать самое сильное сообщество предпринимателей, которое изменит подход к образованию в России и будет поддерживать каждого участника на всех этапах его развития.
  </p>

  <p class="about-us__description">
    <span class="about-us__description_bold">
      Мы рады каждому, кто готов развиваться сам и менять этот мир!
    </span>
  </p>
  
</section>
