<section class="about-author about-author_photo">

  <div class="author-content-wrapper">
    
    <article class="author-main">
      <h1 class="author-main__title">Автор курса</h1>
      <h2 class="author-main__author">Татьяна Маричева</h2>
      <p class="author-main__description">Продюсер в сфере онлайн-образования</p>

      <div class="author-main__author-achievements author-achievements">

        <article class="author-achievements__general-achievement general-achievement">
          <h3 class="general-achievement__title">> 1 000 000</h3>
          <p class="general-achievement__description">человек за год побывало на вебинарах</p>
        </article>
        <article class="author-achievements__general-achievement general-achievement">
          <h3 class="general-achievement__title">3 000</h3>
          <p class="general-achievement__description">Учеников прошли наши курсы за последние пол года</p>
        </article>
        <article class="author-achievements__general-achievement general-achievement">
          <h3 class="general-achievement__title">от 2 до 6 млн</h3>
          <p class="general-achievement__description">приносит каждый запуск онлайн-школы</p>
        </article>

      </div>
    </article>

    <article class="author-additional-achievements">

      <header class="author-additional-achievements__title-image">
        <!-- <img src="#" alt="way"> -->
      </header>

      <article class="author-additional-achievements__additional-achievement additional-achievement">
        <h3 class="additional-achievement__title">Запустила 6 онлайн-школ</h3>
        <ul class="additional-achievement__list">
          <li class="additional-achievement__list-item">сыроедческие десерты,</li>
          <li class="additional-achievement__list-item">флористика,</li>
          <li class="additional-achievement__list-item">веганская выпечка,</li>
          <li class="additional-achievement__list-item">поступление в театральный,</li>
          <li class="additional-achievement__list-item">роспись пряников</li>
          <li class="additional-achievement__list-item">и свадебные прически</li>
        </ul>
      </article>

      <article class="author-additional-achievements__additional-achievement additional-achievement">
        <h3 class="additional-achievement__title">Ex-продюсер</h3>
        <p class="additional-achievement__description additional-achievement__description_dark-and-bold">программ и Youtube-канала Бизнес Молодости</p>
        <div class="additional-achievement__lable_logo-bm">
          <!-- <img src="#" alt="Бизнес Молодость - logo"> -->
        </div>
      </article>

      <article class="author-additional-achievements__additional-achievement additional-achievement">
        <h3 class="additional-achievement__title">Автор курса</h3>
        <p class="additional-achievement__description additional-achievement__description_dark-and-bold">«Реальный <span class="additional-achievement__before_logo-vk">контакте»</span></p>
      </article>

    </article>

  </div>

</section>
