<section class="about-author">

  <div class="author-content-wrapper">
    
    <div class="author-main">
      <h2 class="author-main__title">Автор курса</h2>
      <p class="author-main__author">Татьяна Маричева</p>
      <p class="author-main__description">Продюсер в сфере онлайн-образования</p>

      <div class="author-main__author-achievements author-achievements">

        <article class="author-achievements__general-achievement general-achievement">
          <h3 class="general-achievement__title">> 1 000 000</h3>
          <p class="general-achievement__description">человек за год побывало <br class="general-achievement__description_count-humans"> на вебинарах</p>
        </article>
        <article class="author-achievements__general-achievement general-achievement">
          <h3 class="general-achievement__title">3 000</h3>
          <p class="general-achievement__description">Учеников прошли наши <br class="general-achievement__description_count-students-first"> курсы <br class="general-achievement__description_count-students-second"> за последние <br class="general-achievement__description_count-students-third"> пол года</p>
        </article>
        <article class="author-achievements__general-achievement general-achievement">
          <h3 class="general-achievement__title general-achievement__title_lower-case"><span class="general-achievement__title_small">от </span>2 <span class="general-achievement__title_small"> до </span>6<span class="general-achievement__title_small"> млн</span></h3>
          <p class="general-achievement__description">приносит каждый запуск <br class="general-achievement__description_count-money"> онлайн-школы</p>
        </article>

      </div>
    </div>

    <div class="about-author_photo"></div>

    <article class="author-additional-achievements">

      <header class="author-additional-achievements__title-image">
        <img src="./img/way.svg" alt="way">
      </header>

      <div class="author-additional-achievements__additional-achievement additional-achievement">
        <h3 class="additional-achievement__title">Запустила <br class="general-achievement__description_count-school"> 6 онлайн-школ</h3>
        <ul class="additional-achievement__list">
          <li class="additional-achievement__list-item">сыроедческие десерты,</li>
          <li class="additional-achievement__list-item">флористика,</li>
          <li class="additional-achievement__list-item">веганская выпечка,</li>
          <li class="additional-achievement__list-item">поступление <br> в театральный,</li>
          <li class="additional-achievement__list-item">роспись пряников</li>
          <li class="additional-achievement__list-item">и свадебные прически</li>
        </ul>
      </div>

      <article class="author-additional-achievements__additional-achievement additional-achievement">
        <h3 class="additional-achievement__title additional-achievement__title_bm">Ex-продюсер 
          <span class="additional-achievement__description_dark-and-bold">
            программ <br class="additional-achievement__title_brake-bm"> и Youtube-канала Бизнес Молодости
          </span>
        </h3>
        <div class="additional-achievement__lable_logo-bm">
          <img src="./img/BM-logo.svg" alt="Логотип - Бизнес Молодость">
        </div>
      </article>

      <article class="author-additional-achievements__additional-achievement additional-achievement">
        <h3 class="additional-achievement__title additional-achievement__title_vk">
          Автор курса
          <br class="additional-achievement__title_brake">
          <span class="additional-achievement__description additional-achievement__description_dark-and-bold">
            «Реальный
            <br class="additional-achievement__title_brake-vk">
            <span class="additional-achievement__before_logo-vk">
              онтакте»
            </span>
          </span>
        </h3>
      </article>

    </article>

  </div>

</section>
