<section class="about-us" id="about-us">

  <div class="about-us__lamps-left">
    <div class="lamps-left__front-lamp"></div>
    <div class="lamps-left__back-lamp"></div>
  </div>

  <div class="about-us__mission-wrapper">
    <header class="about-us__about-header about-header">
      <span class="about-header__lable">Наша миссия</span>
      <h2 class="about-header__title">
        <span class="about-header__title_dark">Мы обучаем продюсеров онлайн-школ, </span>
        <span class="about-header__title_light">развиваем сообщество предпринимателей и двигаемся к одной большой цели</span>
      </h2>
    </header>

    <div class="about-us__description-wrapper">
      <p class="about-us__description">
        <span class="about-us__description_lead">
          Ниша онлайн-образования приходит на смену <br class="about-us__description_lead_break"> традиционным методам.
        </span>
        Мы хотим сделать <br class="about-us__description_lead_break"> дистанционное обучение качественным и <br class="about-us__description_lead_break"> комфортным, раскрыть потенциал каждого, кто готов <br class="about-us__description_lead_break"> развивать эту нишу и следовать нашей миссии.
      </p>

      <p class="about-us__description">
        <span class="about-us__description_lead">
          Наша миссия
        </span>
         - создать самое сильное сообщество предпринимателей, которое изменит подход к <br class="about-us__description_lead_break"> образованию в России и будет поддерживать каждого <br class="about-us__description_lead_break"> участника на всех этапах его развития.
      </p>
    </div>

    <div class="about-us__description_last-paragraph">
      <p class="about-us__description">
        <span class="about-us__description_bold">
          Мы рады каждому, кто готов развиваться сам и менять <br class="about-us__description_lead_break"> этот мир!
        </span>
      </p>
    </div>
  </div>

  <div class="about-us__lamps-right">
    <div class="lamps-right__front-lamp"></div>
    <div class="lamps-right__back-lamp"></div>
  </div>

</section>
