<section class="content__about-author about-author">

  <div class="about-author__row">

    <h2 class="about-author__title">
      <span class="title_color-light">
        Автор курса
      </span>
      <span class="title_short">
        Татьяна Маричева
      </span>
    </h2>
    <p class="about-author__subtitle">Продюсер в сфере онлайн-образования</p>

    <article class="about-author__main-achievement">
      <h3 class="main-achievement__title">> 1 000 000</h3>
      <p class="main-achievement__description">человек за год побывало на вебинарах</p>
    </article>
    <article class="about-author__main-achievement">
      <h3 class="main-achievement__title">3 000</h3>
      <p class="main-achievement__description">учеников прошли наши курсы за последние <br> пол года</p>
    </article>
    <article class="about-author__main-achievement">
      <h3 class="main-achievement__title"><small class="main-achievement__title_small">от</small> 2 <small class="main-achievement__title_small">до</small> 6 <small class="main-achievement__title_small">млн</small></h3>
      <p class="main-achievement__description">приносит каждый запуск онлайн-школы</p>
    </article>

  </div>

  <div class="about-author__row about-author__row_right">

    <img src="./img/way.svg" alt="way">

    <article class="about-author__additional-achievement">
      <h3 class="additional-achievement__title">Запустила 6 онлайн-школ</h3>
      <ul class="additional-achievement__list">
        <li class="additional-achievement__item">сыроедческие десерты,</li>
        <li class="additional-achievement__item">флористика,</li>
        <li class="additional-achievement__item">веганская выпечка,</li>
        <li class="additional-achievement__item">поступление <br> &nbsp;&nbsp;&nbsp;в театральный,</li>
        <li class="additional-achievement__item">роспись пряников</li>
        <li class="additional-achievement__item">и свадебные прически</li>
      </ul>
    </article>

    <article class="about-author__additional-achievement">
      <h3 class="additional-achievement__title">
        Ex-продюсер
        <span class="title_color-dark">
          программ и Youtube-канала Бизнес Молодости
        </span>
      </h3>
      <img class="additional-achievement__bm-logo" src="./img/BM-logo.svg" alt="Бизнес Молодость - логотип">
    </article>

    <article class="about-author__additional-achievement">
      <h3 class="additional-achievement__title">
          Автор курса
        <span class="title_color-dark">
        «Реальный <br>
          <span class="additional-achievement__title_vk-logo">
            онтакте»
          </span>
        </span>
      </h3>
    </article>

  </div>

</section>
