<section class="articles" id="articles">
  <div class="articles__inner-content">
    
    <header class="articles__header-regular header-regular">
      <h2 class="header-regular__title-regular title-regular_dark">Статьи</h2>
      <p class="header-regular__subtitle-regular subtitle-regular_dark">Делимся опытом и знаниями в нашем блоге</p>
    </header>

    <div class="articles-wrapper">

      <div class="articles-wrapper__articles-row articles-row">

        <div class="article">
          <header class="article__article-header article-header">
            <div class="article-header__image article-header__image_article-1">
              <img class="article-header__image_picture" src="../img/articles/article-1.svg" alt="coronavirus">
            </div>
            <div class="article-header__date-publick">14 февраля 2020</div>
          </header>
          <p class="article__article-lead-text">
            Как заработать на онлайн обучении во время коронавируса
          </p>
          <footer class="article__article-footer article-footer">
            <button class="article-footer__button" aria-label="Читать статью">Читать статью</button>
          </footer>
        </div>

        <div class="article">
          <header class="article__article-header article-header">
            <div class="article-header__image article-header__image_article-2">
              <img class="article-header__image_picture" src="../img/articles/article-2.svg" alt="coworking">
            </div>
            <div class="article-header__date-publick">14 февраля 2020</div>
          </header>
          <p class="article__article-lead-text">
            5 лучших коворкингов в Москве по версии Татьяны Маричевой
          </p>
          <footer class="article__article-footer article-footer">
            <button class="article-footer__button" aria-label="Читать статью">Читать статью</button>
          </footer>
        </div>

      </div>

    </div>

  </div>
</section>
