<section class="articles">

  <header class="articles__header-regular header-regular">
    <h2 class="header-regular__title-regular title-regular_dark">Статьи</h2>
    <p class="header-regular__subtitle-regular subtitle-regular_dark">Делимся опытом и знакомимся в нашем блоге.</p>
  </header>

  <div class="articles-wrapper">

    <div class="articles-row">

      <article class="article">
        <header class="article__article-header article-header">
          <div class="article-header__image">
            <!-- <img src="#" alt=""> -->
          </div>
          <div class="article-header__date-publick">14 февраля 2020</div>
        </header>
        <p class="article__article-lead-text">
          Как заработать на онлайн обучении во время короновируса
        </p>
        <footer class="article__article-footer article-footer">
          <button class="article-footer__button">Читать статью</button>
        </footer>
      </article>

      <article class="article">
        <header class="article__article-header article-header">
          <div class="article-header__image">
            <!-- <img src="#" alt=""> -->
          </div>
          <div class="article-header__date-publick">14 февраля 2020</div>
        </header>
        <p class="article__article-lead-text">
          5 лучших коворкингов в Москве по версии Татьяны Маричевой
        </p>
        <footer class="article__article-footer article-footer">
          <button class="article-footer__button">Читать статью</button>
        </footer>
      </article>

    </div>

  </div>

</section>
