<section class="cases" id="cases">
  <div class="cases__inner-content">
    
    <header class="cases__header-regular header-regular">
      <h2 class="header-regular__title-regular title-regular_dark">Кейсы</h2>
      <p class="header-regular__subtitle-regular subtitle-regular_dark">Всё это важный опыт, которым мы хотим поделиться с вами. С <br> историями и кейсами участников нашего сообщества вы <br> можете познакомиться здесь.</p>
    </header>

    <div class="cases-wrapper">

      <div class="cases-row">

        <article class="case">
          <header class="case__case-header case-header">
            <div class="case-header__image case-header__image_case-1"></div>
            <div class="case-header__date-publick">14 февраля 2020</div>
          </header>
          <p class="case__case-lead-text">
            Александра работала следователем, а потом в один момент развернула свою жизнь на 180 градусов.
          </p>
          <footer class="case__case-footer case-footer">
            <button class="case-footer__button">Читать кейс</button>
            <span class="case-footer__video-review">Видео отзыв</span>
          </footer>
        </article>

        <article class="case">
          <header class="case__case-header case-header">
            <div class="case-header__image case-header__image_case-2"></div>
            <div class="case-header__date-publick">14 февраля 2020</div>
          </header>
          <p class="case__case-lead-text">
            После неудачного опыта в бизнесе Мария решила стать продюсером онлайн-школ и не прогадала <br> с выбором.
          </p>
          <footer class="case__case-footer case-footer">
            <button class="case-footer__button">Читать кейс</button>
          </footer>
        </article>

        <article class="case">
          <header class="case__case-header case-header">
            <div class="case-header__image case-header__image_case-3"></div>
            <div class="case-header__date-publick">14 февраля 2020</div>
          </header>
          <p class="case__case-lead-text">
            Александра работала следователем, а потом в один момент развернула свою жизнь на 180 градусов.
          </p>
          <footer class="case__case-footer case-footer">
            <button class="case-footer__button">Читать кейс</button>
          </footer>
        </article>

      </div>

      <div class="cases-row">

        <article class="case">
          <header class="case__case-header case-header">
            <div class="case-header__image case-header__image_case-4"></div>
            <div class="case-header__date-publick">14 февраля 2020</div>
          </header>
          <p class="case__case-lead-text">
            Александра работала следователем, а потом в один момент развернула свою жизнь на 180 градусов.
          </p>
          <footer class="case__case-footer case-footer">
            <button class="case-footer__button">Читать кейс</button>
          </footer>
        </article>

        <article class="case-double">
          <div class="case-header__image case-header__image_case-5">
            <header class="case-double__case-double-header case-double-header">
              <div class="case-double-header__date-publick">14 февраля 2020</div>
            </header>
            <p class="case-double__case-double-lead-text">
              Александра работала следователем, а потом в один момент развернула свою жизнь на 180 градусов.
            </p>
            <footer class="case-double__case-double-footer case-double-footer">
              <button class="case-double-footer__button">Читать кейс</button>
              <span class="case-footer__video-review">Видео отзыв</span>
            </footer>
          </div>
        </article>

      </div>

    </div>

  </div>
</section>
