<header class="header">
  <div class="header-inner">
    <nav class="header__menu menu">
      <a class="menu__link" href="#about-us">О нас</a>
      <a class="menu__link" href="#training">Обучение</a>
      <a class="menu__link" href="#cases">Кейсы</a>
      <a class="menu__link" href="#articles">Статьи</a>
    </nav>

    <div class="header__logo logo"></div>

    <div class="header__burger-menu burger-menu">
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
    </div>
  </div>
</header>
