<section class="home-page">

  <header class="home-page__main-header main-header">
    <h1 class="main-header__title main-title">Научим создавать бизнес в онлайн-образовании</h1>
    <p class="main-header__main-subtitle main-subtitle">Строим сообщество продюсеров по всему миру</p>
  </header>

  <div class="home-page__main-content-wrapper main-content-wrapper">
    <div class="main-bubbles">
      <div class="main-bubbles__bubble bubble bubble_paper">
        <span class="bubble__text bubble__text_paper">
          Вась, бумага в принтере закончилась
        </span>
      </div>
      <div class="main-bubbles__bubble bubble bubble_pension">
        <span class="bubble__text bubble__text_pension">
          Подумай о пенсии, Вась
        </span>
      </div>
      <div class="main-bubbles__bubble bubble bubble_salary">
        <span class="bubble__text bubble__text_salary">
          Зарплата маленькая, зато стабильно
        </span>
      </div>
      <div class="main-bubbles__bubble bubble bubble_collective">
        <span class="bubble__text bubble__text_collective">
          Дружный коллектив, чай, печеньки
        </span>
      </div>
    </div>

    <div class="peoples-wrapper__schedule schedule">
      <div class="peoples"></div>
    </div>

    <aside class="main-sidebar">
      <button class="main-sidebar__button" aria-label="Обучение"></button>
      <button class="main-sidebar__button" aria-label="Статьи"></button>
      <button class="main-sidebar__button" aria-label="О нас"></button>
      <button class="main-sidebar__button" aria-label="Кейсы"></button>
    </aside>
  </div>

</section>
