<section class="training">

  <header class="training__header-regular header-regular">
    <h2 class="header-regular__title-regular title-regular_light">Обучение</h2>
    <p class="header-regular__subtitle-regular subtitle-regular_light">Проводим онлайн-курсы, выезжаем и т.д.</p>
  </header>

  <div class="training-cards-wrapper">

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

    <article class="training-card">
      <div class="training-card__image">
        <!-- <img src="#" alt=""> -->
      </div>
      <article class="training-card__card-body card-body">
        <header class="card-body__card-header card-header">
          <span class="card-header__tag">Мастер-класс</span>
          <span class="card-header__tag">Бесплатно</span>
        </header>
        <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
        <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
        <footer class="card-body__card-footer card-footer">
          <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
        </footer>
      </article>
      <div class="training-card__arrow">
        <button class="training-card__arrow_button">></button>
      </div>
    </article>

  </div>
</section>
