<section class="training" id="training">
  <div class="training__inner-content">

    <header class="training__header-regular header-regular">
      <h2 class="header-regular__title-regular title-regular_light">Обучение</h2>
      <p class="header-regular__subtitle-regular subtitle-regular_light">Проводим онлайн-курсы, выезжаем и т.д.</p>
    </header>

    <div class="training-cards-wrapper">

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-1.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <span class="card-header__tag">Мастер-класс</span>
            <span class="card-header__tag">Бесплатно</span>
          </header>
          <h3 class="card-body__card-title">Пошаговый план запуска своего онлайн-курса</h3>
          <p class="card-body__card-lead-text">На мастер классе Татьяна Маричева расскажет что-то</p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Посмотреть программу и записаться</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-2.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <span class="card-header__tag">Доступ сразу после оплаты</span>
            <span class="card-header__tag">5000 ₽</span>
          </header>
          <h3 class="card-body__card-title">Мини-курс «Быстрый старт»</h3>
          <p class="card-body__card-lead-text">За 5 дней мы научим вас как запустить свой онлайн курс даже <br> при небольшом количестве подписчиков</p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Подробная програма и цены</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-3.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <span class="card-header__tag">Старт 11 августа</span>
            <span class="card-header__tag">от 29 000 ₽</span>
          </header>
          <h3 class="card-body__card-title">Школа Продюсера</h3>
          <p class="card-body__card-lead-text">Двухмесячная программа, на которой вы запустите свой онлайн-курс <br> или научитесь зарабатывать на знаниях других экспертов</p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Подробная програма и цены</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-4.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <span class="card-header__tag">2-х месячная программа</span>
            <span class="card-header__tag">Старт потока 15 ноября</span>
          </header>
          <h3 class="card-body__card-title">Школа Продюсера <span class="card-body__card-title_acsent">PRO</span></h3>
          <p class="card-body__card-lead-text">Двухмесячная программа, на которой вы запустите свой онлайн-курс <br> или научитесь зарабатывать на знаниях других экспертов</p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Подробная програма и цены</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-5.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <span class="card-header__tag">Годовая программа</span>
            <span class="card-header__tag">На 2020 год SOLD OUT, открыта бронь на 2021</span>
          </header>
          <h3 class="card-body__card-title">Личное наставничество <br> Татьяны Маричевой</h3>
          <p class="card-body__card-lead-text"></p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Подробная програма и цены</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-6.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <span class="card-header__tag">Годовая программа</span>
            <span class="card-header__tag">На 2020 год SOLD OUT, открыта бронь на 2021</span>
          </header>
          <h3 class="card-body__card-title">Личное наставничество <br> Татьяны Маричевой</h3>
          <p class="card-body__card-lead-text"></p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Подробная програма и цены</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

      <div class="training-card">
        <div class="training-card__image-block">
          <img class="training-card__image-block_picture" src="./img/training-card/training-card-7.svg" alt="">
        </div>
        <article class="training-card__card-body card-body">
          <header class="card-body__card-header card-header">
            <!-- <span class="card-header__tag"></span> -->
            <!-- <span class="card-header__tag"></span> -->
          </header>
          <h3 class="card-body__card-title">Найти продюсера</h3>
          <p class="card-body__card-lead-text">Выпускники курса Школа Продюсера, <br> готовые брать новые проекты</p>
          <footer class="card-body__card-footer card-footer">
            <a class="card-footer__card-link" href="#">Подробнее</a>
          </footer>
        </article>
        <div class="training-card__arrow">
          <button class="training-card__arrow_button"></button>
        </div>
      </div>

    </div>

  </div>
</section>
