html,
body {
  margin: 0;
  font: var(--main-font-regular);
}

.content {
  background-color: var(--main-bg-color);
  margin: auto;
  width: 1440px;
}

@media (max-width: 1440px) {
 .content {
    max-width: 1440px;
    width: unset;
  }
}
