html,
body {
  margin: 0;
  font: var(--main-font-regular);
  background: red;
}

.content {
  background-color: var(--main-bg-color);
  margin: auto;
  width: 1440px;
}

@media (max-width: 1440px) {
  .content {
    width: 1440px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .content {
    width: 1024px;
  }
}
