.header {
  align-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  height: 6.44em;
  margin-bottom: 2.9em;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 3.1em;
  width: 100vw;
}

.header__menu {
  align-self: center;
}

.menu__link {
  color: var(--color-dark);
  margin-right: 1.7em;
  text-decoration: none;
}

.header__logo {
  transform: translateX(-9.3em);
}

.logo {
  background: no-repeat center/contain url(../img/logo.svg);
  height: 2.6875em;
  width: 8.75em;
}

@media (max-width: 1024px) {
  .header__menu {
    margin-right: 3em;
  }

  .menu__link {
    font-size: .8em;
  }

  .logo {
    height: 1.5em;
  }

  .header {
    height: 4em;
  }
}
