.home-page__main-header {
  margin: auto;
  text-align: center;
  width: 47em;
}

.main-header__title {
  margin: 0 0 .25em;
}

.main-title {
  font-size: 3.75em;
  line-height: 1.2;
}

.main-subtitle {
  font-size: 1.56em;
  margin: 0;
}

.main-content-wrapper {
  display: flex;
}

.main-bubbles {
  height: 33.9em;
  width: 14.45em;
}

.bubble {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bubble_paper {
  background: no-repeat center/contain url(../img/buble-paper.svg);
  height: 8.4375em;
  transform: rotate(-15deg) translate(-1em, 1.2em);
  width: 10.6875em;
}

.bubble__text_paper {
  transform: translateX(.4em);
  width: 6.8em;
}

.bubble_pension {
  background: no-repeat center/contain url(../img/buble-pension.svg);
  height: 11.3125em;
  transform: rotate(-15deg) translate(1.3em, -1.7em);
  width: 12.6875em;
}

.bubble__text_pension {
  transform: translate(.4em, .2em);
  width: 6.8em;
}

.bubble_salary {
  background: no-repeat center/contain url(../img/buble-salary.svg);
  height: 11.3125em;
  transform: rotate(-15deg) translate(-1.6em, -5.5em);
  width: 12.6875em;
}

.bubble__text_salary {
  transform: translate(.4em, .3em);
  width: 8em;
}

.bubble_collective {
  background: no-repeat center/contain url(../img/buble-collective.svg);
  height: 11.5em;
  position: absolute;
  transform: rotate(42deg) translate(-5.1em, -3.2em);
  width: 10.375em;
  z-index: 3;
}

.bubble__text_collective {
  transform: translate(-.1em, -.9em);
  width: 8em;
}

.schedule {
  animation: to-visible 1s ease-in .1s forwards;
  background: no-repeat bottom/contain url(../img/shedule.svg);
  height: 31.3em;
  opacity: 0;
  width: 46.6em;
}

@keyframes to-visible {
  to {
    opacity: 1;
  }
}

.peoples {
  display: flex;
  height: 34.4em;
  transform: translate(10.35em, .3em);
  width: 34.5em;
}

.peoples__people {
  position: absolute;
}

.peoples__people_left {
  animation: left-people 1.5s ease-out .3s forwards;
  transform: translate(-1.9em, 12.7em);
}

@keyframes left-people {
  to {
    transform: translate(.1em, 11.7em);
  }
}

.peoples__people_right {
  transform: translate(17em, 5.3em);
}

.main-sidebar {
  display: flex;
  flex-flow: wrap;
  width: 24em;
}

.nav-button {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  transition:
    transform .5s,
    box-shadow .5s;
}

.nav-button,
.nav-button:active,
.nav-button:focus {
  outline: none;
}

.nav-button:hover {
  box-shadow: #474747 0 4px 4px;
}

.nav-button_training {
  background: no-repeat bottom/contain url(../img/btn-training.svg);
  height: 14.5em;
  transform: translate(3.8em, 4em);
  width: 14.5em;
}

.nav-button_training:hover {
  transform: translate(3.8em, 4em) scale(1.1);
}

.nav-button_articles {
  background: no-repeat bottom/contain url(../img/btn-articles.svg);
  height: 11.5em;
  transform: translate(5.3em, .3em);
  width: 11.5em;
}

.nav-button_articles:hover {
  transform: translate(5.3em, .3em) scale(1.1);
}

.nav-button_about-us {
  background: no-repeat bottom/contain url(../img/btn-about-us.svg);
  height: 8.8em;
  transform: translate(6.6em, 2.7em);
  width: 8.8em;
}

.nav-button_about-us:hover {
  transform: translate(6.6em, 2.7em) scale(1.1);
}

.nav-button_cases {
  background: no-repeat bottom/contain url(../img/btn-cases.svg);
  height: 12em;
  transform: translate(10.4em, -3em);
  width: 12em;
}

.nav-button_cases:hover {
  transform: translate(10.4em, -3em) scale(1.1);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .main-title {
    font-size: 3em;
  }

  .main-subtitle {
    font-size: 1em;
  }

  .main-bubbles {
    height: 27em;
    width: 12em;
  }

  .bubble_paper {
    transform: rotate(-15deg) translate(-.6em, 0) scale(.8);
  }

  .bubble_pension {
    transform: rotate(-15deg) translate(1.8em, -4em) scale(.8);
  }

  .bubble_salary {
    transform: rotate(-15deg) translate(-1.2em, -9em) scale(.8);
  }

  .bubble_collective {
    transform: rotate(42deg) translate(-10.7em, -7.6em) scale(.7);
  }

  .schedule {
    height: 25em;
  }

  .peoples {
    height: 31.5em;
    transform: translate(2em, .8em) scale(.7);
    width: 34.375em;
  }

  .main-sidebar {
    height: 28.5em;
    width: 35em;
  }

  .nav-button_training {
    transform: translate(0, 3.3em) scale(.6);
  }

  .nav-button_articles {
    transform: translate(10em, -11.7em) scale(.6);
  }

  .nav-button_about-us {
    transform: translate(-9em, 2.4em) scale(.6);
  }

  .nav-button_cases {
    transform: translate(9em, -13.4em) scale(.6);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-header {
    width: 22em;
  }

  .main-title {
    font-size: 1.8em;
  }

  .main-subtitle {
    font-size: .8em;
  }

  .schedule {
    display: flex;
    height: 20em;
    justify-content: center;
  }

  .peoples {
    height: 24.5em;
    transform: translate(0, 0) scale(.7);
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .main-bubbles,
  .main-sidebar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .schedule,
  .peoples {
    display: none;
  }

  .home-page {
    height: auto;
    padding-bottom: 2em;
  }

  .main-header {
    box-sizing: border-box;
    padding: 0 1em;
    width: 100%;
  }

  .main-title {
    font-size: 1.75em;
  }

  .main-subtitle {
    font-size: .9em;
    margin: auto;
    width: 100%;
    display: contents;
    box-sizing: border-box;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .main-title {
    font-size: 1.4em;
  }

  .main-subtitle {
    font-size: .7em;
  }
}
