.home-page {
  overflow: hidden;
}

.home-page__main-header {
  margin: auto;
  text-align: center;
  width: 47em;
}

.main-header__title {
  margin: 0 0 .45em;
}

.main-title {
  font: var(--main-font-bold);
  font-size: 3.75em;
  line-height: 1.1;
}

.main-subtitle {
  font-size: 1.56em;
  margin: 0;
}

.main-content-wrapper {
  display: flex;
}

.main-bubbles {
  width: 15em;
  height: 33.6em;
}

.bubble {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bubble_paper {
  height: 135px;
  width: 171px;
  background: no-repeat center/contain url(../img/buble-paper.svg);
  transform: rotate(-15deg) translate(-0.6em, 1.2em);
}

.bubble__text_paper {
  transform: translateX(0.4em);
  width: 6.8em;
}

.bubble_pension {
  height: 181px;
  width: 203px;
  background: no-repeat center/contain url(../img/buble-pension.svg);
  transform: rotate(-15deg) translate(1.8em, -1.8em);
}

.bubble__text_pension {
  transform: translate(0.4em, .2em);
  width: 6.8em;
}

.bubble_salary {
  height: 181px;
  width: 203px;
  background: no-repeat center/contain url(../img/buble-salary.svg);
  transform: rotate(-15deg) translate(-1.2em, -5.5em);
}

.bubble__text_salary {
  transform: translate(0.4em, 0.3em);
  width: 8em;
}

.bubble_collective {
  height: 184px;
  width: 166px;
  background: no-repeat center/contain url(../img/buble-collective.svg);
  transform: rotate(42deg) translate(-4.7em, -3.6em);
  position: absolute;
}

.bubble__text_collective {
  transform: translate(-0.1em, -0.9em);
  width: 8em;
}

.peoples-wrapper__schedule {}

.schedule {
  height: 31.3em;
  width: 46.5em;
  background: no-repeat bottom/contain url(../img/shedule.svg);
  /*border: 1px solid red;*/
}

.peoples {
  width: 34.375em;
  height: 33.8em;
  /*height: 34.6em;*/
  background: no-repeat bottom/contain url(../img/peoples.svg);
  /*border: 1px solid red;*/
  transform: translate(10.35em, .8em);
  position: absolute;
}

.main-sidebar {
  /*border: 1px solid red;*/
  display: flex;
  flex-flow: wrap;
  width: 27em;
}

.nav-button {
  border-radius: 50%;
  border: 0;
  font-size: 1em;
}

.nav-button_training {
  width: 194px;
  height: 194px;
  background: no-repeat bottom/contain url(../img/btn-training.svg);
  transform: translate(3.1em, 3.3em);
}

.nav-button_articles {
width: 153px;
  height: 153px;
  background: no-repeat bottom/contain url(../img/btn-articles.svg);
  transform: translate(4.4em, 0.3em);
}

.nav-button_about-us {
width: 116px;
  height: 116px;
  background: no-repeat bottom/contain url(../img/btn-about-us.svg);
  transform: translate(5.6em, 2.4em);
}

.nav-button_cases {
  width: 158px;
  height: 158px;
  background: no-repeat bottom/contain url(../img/btn-cases.svg);
  transform: translate(8.8em, -2.4em);
}