.about-author {
  height: 75.3em;
}

.author-content-wrapper {
  display: flex;
  height: 76.65em;
  justify-content: space-around;
}

.author-main {
  transform: translate(-3em, 1.9em);
  width: 24em;
}

.author-main__title {
  color: var(--color-brown);
  font-size: 4em;
  margin-bottom: 0;
}

.author-main__author {
  color: var(--color-dark);
  font-size: 4em;
  line-height: 1.05;
  margin: 0 auto .45em;
}

.author-main__description {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -.04em;
  margin: 0 auto 4.45em;
}

.author-achievements__general-achievement {
  line-height: 1.14;
}

.general-achievement__title {
  color: var(--color-brown);
  font-size: 3em;
  letter-spacing: .02em;
  margin: 0 auto .1em;
}

.general-achievement__title_lower-case {
  letter-spacing: -.028em;
}

.general-achievement__title_small {
  font-size: .7em;
}

.general-achievement__description {
  font-size: 1.3em;
  letter-spacing: -.02em;
  line-height: 1.35;
  margin: 0 auto 2.1em;
}

.about-author_photo {
  align-self: flex-end;
  background: no-repeat bottom/contain url(../img/author-photo.png);
  height: 892px;
  margin: 0;
  position: absolute;
  transform: translateX(-.9em);
  width: 604px;
}

.author-additional-achievements {
  transform: translate(4.7em, 10.1em);
}

.author-additional-achievements__title-image {
  margin-bottom: 1em;
}

.additional-achievement__title {
  color: var(--color-brown);
  font-size: 2em;
  letter-spacing: -.04em;
  margin: 0 auto .35em;
  transform: translateX(1em);
}

.additional-achievement {
  line-height: 1.34;
  margin-bottom: 3.3em;
  transform: translateX(-.7em);
}

.additional-achievement__list {
  letter-spacing: .03em;
  line-height: 1.5;
  margin: 0 auto 4em;
  transform: translateX(.5em);
  width: 16em;
}

.additional-achievement__list-item {
  font-size: 1.2em;
  list-style: none;
}

.additional-achievement__list-item::before {
  background: no-repeat center/cover url(../img/list-item.svg);
  content: '';
  height: .375em;
  position: absolute;
  transform: translate(-.9em, .5em);
  width: .375em;
}

.additional-achievement__description {
  letter-spacing: .02em;
  line-height: 1.5;
  margin: auto;
  transform: translate(1.1em, -.3em);
}

.additional-achievement__description_dark-and-bold {
  font-size: 1.8em;
  font-weight: 700;
}

.additional-achievement__lable_logo-bm {
  position: absolute;
  transform: translate(18.65em, -6.2em);
}

.additional-achievement__before_logo-vk {
  margin-left: 1.1em;
}

.additional-achievement__before_logo-vk::before {
  background: no-repeat center/cover url(../img/VK-logo.svg);
  content: '';
  height: .5em;
  position: absolute;
  transform: translate(-1.1em, .6em) rotate(-16deg);
  width: .875em;
}
