.about-author {
  background: no-repeat 24.8em 20.7em/37.75em 55.75em url(../img/author-photo.png);
  display: flex;
  height: 73.3em;
  justify-content: space-between;
}

.about-author__row {
  line-height: 1.1;
  width: 25em;
}

.about-author__title {
  font-size: 4em;
  margin-bottom: .36em;
}

.title_color-light {
  color: var(--color-brown);
}

.about-author__subtitle {
  font-size: 1.9em;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 4.65em;
}

.main-achievement__title {
  color: var(--color-brown);
  font-size: 3.15em;
  margin-bottom: .03em;
}

.main-achievement__title_small {
  font-size: .6em;
}

.main-achievement__description {
  font-size: 1.25em;
  line-height: 1.3;
  margin: 0;
  width: 12em;
}

.about-author__row_right {
  padding-top: 6.9em;
}

.about-author__additional-achievement {
  margin-bottom: 4.1em;
  padding-left: 1.1em;
}

.additional-achievement__title {
  color: var(--color-brown);
  font-size: 1.9em;
  line-height: 1.4;
  margin: .5em 0 .4em 0;
  width: 9em;
}

.additional-achievement__list {
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.additional-achievement__item {
  font-size: 1.2em;
  letter-spacing: .03em;
  width: 13em;
}

.additional-achievement__item::before {
  background: var(--color-brown);
  content: '';
  display: inline-block;
  height: .3em;
  margin-right: .5em;
  width: .3em;
}

.title_color-dark {
  color: var(--color-dark);
}

.additional-achievement__bm-logo {
  position: absolute;
  transform: translate(16.7em, -6.3em);
}

.additional-achievement__title_vk-logo::before {
  background: no-repeat center/contain url(../img/VK-logo.svg);
  content: '';
  display: inline-block;
  height: 1em;
  transform: translate(-.1em, .2em) rotate(-16deg);
  width: 1em;
}
